# 2.1 Overview of Statistical Learning - Auto dataset

9. This exercise involves the Auto data set studied in the lab. Make sure that the missing values have been removed from the data.

### (a) Which of the predictors are quantitative, and which are qualitative?

In [9]:
import pandas as pd

In [11]:
!pwd

/Users/el_fer/Repos/ISLP_Applied_Exercises/Chapter 2

In [12]:
auto = pd.read_csv('data/Auto.csv')

In [13]:
auto

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
392,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
393,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
394,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
395,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
396,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [16]:
auto.dtypes

mpg               float64
cylinders           int64
displacement      float64
horsepower         object
weight              int64
acceleration      float64
year                int64
origin              int64
name               object
horsepower_num    float64
dtype: object

In [15]:
auto['horsepower_num'] = auto['horsepower'].apply(pd.to_numeric, errors='coerce')

In [43]:
auto[auto['horsepower_num'].isna()]

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name,horsepower_num
32,25.0,4,98.0,?,2046,19.0,71,1,ford pinto,NaN
126,21.0,6,200.0,?,2875,17.0,74,1,ford maverick,NaN
330,40.9,4,85.0,?,1835,17.3,80,2,renault lecar deluxe,NaN
336,23.6,4,140.0,?,2905,14.3,80,1,ford mustang cobra,NaN
354,34.5,4,100.0,?,2320,15.8,81,2,renault 18i,NaN

In [47]:
auto['cylinders'].value_counts()

cylinders
4    203
8    103
6     84
3      4
5      3
Name: count, dtype: int64

### (b) What is the range of each quantitative predictor? You can answer this using the min() and max() methods in numpy.

### (c) What is the mean and standard deviation of each quantitative predictor?
.min()
.max()

### (d) Now remove the 10th through 85th observations. What is the range, mean, and standard deviation of each predictor in the subset of the data that remains?

### (e) Using the full data set, investigate the predictors graphically, using scatterplots or other tools of your choice. Create some plots highlighting the relationships among the predictors. Comment on your findings.

### (f) Suppose that we wish to predict gas mileage (mpg) on the basis of the other variables. Do your plots suggest that any of the other variables might be useful in predicting mpg? Justify your answer.